@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Poppins:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #6c9bcf;
    --color-danger: #ff0060;
    --color-success: #1b9c85;
    --color-warning: #f7d060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
  }

body {
    position: relative;
    font-family: 'poppins', sans-serif;
    background-color: var(--color-dark);
    user-select: none;
}

header {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

header > h1 {
    letter-spacing: 7px;
    font-size: 2.5em;
}

header > p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

main {
    /* background-color: green; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    width: 450px;
    height: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    line-height: 1.5;
    background-color: var(--color-dark);
    box-shadow: var(--box-shadow);
}




input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--color-dark);
    border: none;
    border-bottom: 1px solid #ffffff40;
    outline: none;
    color: var(--color-white);
    margin-top: 10px;
}

input::placeholder{
    color: var(--color-dark-variant);
    font-family: "poppins" , sans-serif;
    font-weight: 300 !important
}

.error_username , .error_password {
    display: none;
    color: var(--color-danger);
}

button {
    border: 1px solid var(--color-danger);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark);
    text-transform: uppercase;
    background: linear-gradient(to left , transparent 50% , var(--color-danger) 50%);
    background-size: 200%;
    transition: all .4s ease-out;
    margin-top: 30px;
}

button:hover {
    cursor: pointer;
    background-position: 100%;
    background-color: var(--color-white);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}

